<nav class="navbar navbar-vality">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
        <div class="row">
            <div class="logo col-sm-6 col-md-6 col-lg-6 col-6">
                <img src="img/logo/boletoflex-logo.png" alt="Vality" title="Vality" />
            </div>
            <div class="cart-resume col-sm-6 col-md-6 col-lg-6 col-6">
                <div class="title col-12 col-sm-12 col-md-12 col-lg-12">
                    <strong ng-click="openResume()">
                        <i class="fas fa-shopping-cart"></i> {{produto.valor | currency:"R$"}}
                    </strong>
                    <i ng-if="resumeIsOpen" class="fas fa-chevron-up"></i>
                    <i ng-if="!resumeIsOpen" class="fas fa-chevron-down"></i>
                </div>
                <div ng-if="resumeIsOpen" class="detail content rounded bg-white border col-10 col-sm-10 col-md-8 col-lg-6">
                    <div class="header row border-bottom">
                        <div class="photo col-8 col-sm-8 col-md-8 col-lg-8">
                            <strong>VALITY - LOJA DEMO</strong>
                        </div>
                        <div class="photo col-4 col-sm-4 col-md-4 col-lg-4">
                            <span class="close" ng-click="openResume()">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row item border-bottom">
                            <div class="photo col-2 col-sm-2 col-md-2 col-lg-2">
                                <img alt="64x64" class="produto-foto" src="{{produto.imagem}}" data-holder-rendered="true">
                            </div>
                            <div class="name col-6 col-sm-6 col-md-6 col-lg-6">
                                <strong class="text-gray-dark">{{produto.nome}}</strong>
                            </div>
                            <div class="price col-4 col-sm-4 col-md-4 col-lg-4">
                                <span class="d-block">{{produto.valor | currency:"R$"}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row frete">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <span>Frete</span>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                                <span>{{produto.frete | currency:"R$"}}</span>
                            </div>
                        </div>
                        <div class="row total">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <span>Total</span>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                                <span>{{produto.valor | currency:"R$"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="row vertical-center">
        <div class="align-middle col-12 col-sm-12 col-md-8 col-lg-4 mx-auto">
            <div class="bg-white rounded">
                <div class="text col-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Escolha a parcela que <br>cabe no seu bolso</h2>
                    <p>
                        Nós pagamos a loja á vista e você nos paga<br> a prazo no boleto.
                    </p>
                </div>
                <div class="col-10 col-sm-10 col-md-8 col-lg-8 mx-auto grid-parcelas">
                    <div class="row parcela border" ng-click="fazerPedido()" ng-repeat="parcelamento in pagamento.parcelamento">
                        <div class="col-11 col-sm-11 col-md-11 col-lg-11">
                            <strong>{{parcelamento.parcelaQtd}} de {{parcelamento.parcelaVlr | currency:"R$"}}</strong>
                            <p>Total a pagar: <b>{{parcelamento.total | currency:"R$"}}</b></p>
                        </div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-6 col-lg-6">
                        <a href="#/cart">Cancelar e retornar à Loja DEMO</a>
                    </div>
                    <div class="col-2 col-sm-2 col-md-6 col-lg-6 text-right">
                        <a href="">Ajuda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" ng-if="pedidoSucesso"></div>
<div class="alert alert-success pedido-sucesso" role="alert" ng-if="pedidoSucesso">
    <h4 class="alert-heading">Parabéns {{produto.cliente.nome}}!</h4>
    <p>Sua solicitação de empréstimo foi feita com sucesso.</p>
    <hr>
    <p class="mb-0">Em breve mandaremos no seu e-mail mais informações.</p>
</div>